.main-page {
    display: flex;
    color: black;
}

.mainpage-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 10px;
}
  
.mainpage-form-container input {
    padding: 8px 4px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
}
  
.mainpage-form-container button {
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(140, 200, 129);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mainpage-form-container button:hover {
    background-color: rgb(97, 138, 90);
}

.sidebar {
    width: 30%;
    background-color: #2b4f6f;
}
  
.map-container {
    height: 100vh;
    width: 70%;
}

.sidebar p {
    color: white;
    font-weight: bold;
}

.sidebar h2 {
    color: #ffffff;
    font-weight: bold;
}

.weather-container {
    padding: 30px;
    margin: 10px 0;
}
  
.weather-container h2 {
    margin-bottom: 10px;
}
  
.weather-container p {
    margin-bottom: 5px;
}

.weather-container .temp {
    color: #ede05c;
    font-size: 40px;
}

.weather-container .description {
    color: #ffffff;
    font-size: 20px;
}

.search-history {
    padding: 30px;
    margin: 10px;
    background-color: rgb(61,87,111);
}

.search-history h2 {
    color: rgb(97, 138, 90);
    font-weight: bold;
}

.search-history p {
    font-size: 14px;
}

.search-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
  

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px 30px;
}
  
.pagination li {
    margin: 0 5px;
}
  
.pagination a {
    padding: 4px 10px;
    text-decoration: none;
    color: #6c757d;
    cursor: pointer;
    border-radius: 6px;
}
  
.pagination li.active a {
    background-color: #6c757d;
    color: white;
}
  
.pagination li.disabled a {
    color: #ccc;
    cursor: not-allowed;
}
